<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mortgage estimator - Money Bin Inc.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Using TailwindCSS for styling, the CDN is enough for this project -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-8 flex flex-col gap-5">
  <h1 class="text-3xl mb-5">Mortgage estimator</h1>


  <a class="underline" th:text="'Go back'" href="/" />

  <h2 class="text-xl">Add estimate</h2>

  <form class="flex flex-col gap-4" action="#" th:action="@{/add}" th:object="${estimate}" method="post">
    <label>
      Name:
      <input class="p-2 border border-gray-700" required type="text" th:field="*{prospectName}" />
    </label>
    <label>
      Loan:
      <input class="p-2 border border-gray-700" required min="0.01" step="0.01" type="number" th:field="*{loanSize}" />
    </label>
    <label>
      Yearly interest (%):
      <input class="p-2 border border-gray-700" required min="0.01" step="0.01" type="number"  th:field="*{yearlyInterest}" />
    </label>
    <label>
      Loan duration (years):
      <input class="p-2 border border-gray-700" required min="1" type="number"  th:field="*{duration}" />
    </label>
    <div class="flex flex-row gap-3">
      <input class="p-2 border border-gray-700" type="submit" value="Submit" />
      <input class="p-2 border border-gray-700" type="reset" value="Reset" />
    </div>
  </form>

</body>
</html>